$loading_color: rgba(224, 60, 60, 0.9);

// $table_bordercolor: rgba(50, 122, 129, 1);

$header_bgcolor: rgba(50, 122, 129, 0.9);
$header_color: #FFF;

$row_odd_bgcolor: rgba(237, 247, 248, 1);
$row_even_bgcolor: #FFF;
$row_color: rgba(50, 122, 129, 1);

$current_user_bgcolor: #00b5a3;
$current_user_color: #FFF;

$active_bgcolor: #ff695e;

$menu_active: rgba(237, 247, 248, 1);
$menu_hover: rgba(237, 247, 248, .2);
