$loading_color: rgba(224, 60, 60, 0.9);

// $table_bordercolor: rgba(50, 122, 129, 1);

$header_bgcolor: rgba(50, 122, 129, 0.9);
$header_bgcolor_noalpha: #408288;
$header_color: #FFF;

$row_odd_bgcolor: rgba(237, 247, 248, 1);
$row_even_bgcolor: #FFF;
$row_color: rgba(50, 122, 129, 1);

$current_user_bgcolor: #00b5a3;
$current_user_color: #FFF;

$active_bgcolor: #00b5a3;
$error_color: #ff695e;
$request_bgcolor: #ff2200;

$menu_active: rgba(237, 247, 248, 1);
$menu_hover: rgba(237, 247, 248, .2);

$input_border: #ced4da;
$input_font: #b5b5b5;
$input_font_size: 16px;
$max_width: 400px;

$hit: #ef1010;
$ng: #4d9de5;
$nonpa: #efaf34;
$out: #ff5722;
$rbi: #2497a2;
$run: #3f00ff;
$out: #ff695e;
$gray: #a6a6a6;
$dark_gray: #777;

$d_hit: #eb4e4ede;
$d_ng: #4998ddd3;
$d_nonpa: #efae34c4;

$tip_w_color:rgba(239, 16, 16, .7);
$tip_t_color: rgba(239, 175, 52, .9);
$tip_l_color: rgba(77, 157, 229, .9);
$tip_n_color: rgba(158, 158, 158, .9);
