@import "variable";

.tooltip {
  $bg: rgba(#ffd1d0, .9);
  $font: #ff695e;
  font-size: 14px;
  display: block !important;
  z-index: 10000;
  .tooltip-inner {
    background: $bg;
    color: $font;
    border-radius: 10px;
    padding: 5px 10px;
    box-sizing: border-box;
  }
  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: $bg;
    z-index: 1;
  }
  &[x-placement^="top"] {
    margin-bottom: 5px;
    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^="bottom"] {
    margin-top: 5px;
    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^="right"] {
    margin-left: 5px;
    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
  &[x-placement^="left"] {
    margin-right: 5px;
    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }
  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
  // &.popover,
  &.info {
    outline: none;
    .tooltip-inner {
      background: var(--tip-info-color);
      color: white;
      box-shadow: 0 5px 30px rgba(black, .1);
      max-width: calc(100vw - 40px);
    }
    .tooltip-arrow {
      border-color: var(--tip-info-color);
    }
  }
  &.box-tip {
    &.win {
      .tooltip-inner {
        background: var(--tip-w-color);
      }
      .tooltip-arrow {
        border-color: var(--tip-w-color);
      }
    }
    &.tie {
      .tooltip-inner {
        background: var(--tip-t-color);
      }
      .tooltip-arrow {
        border-color: var(--tip-t-color);
      }
    }
    &.lose {
      .tooltip-inner {
        background: var(--tip-l-color);
      }
      .tooltip-arrow {
        border-color: var(--tip-l-color);
      }
    }
    outline: none;
    text-align: center;
    .tooltip-inner {
      color: white;
      padding: 10px;
      box-shadow: 0 5px 30px rgba(black, .1);
      min-width: 300px;
      max-width: calc(100vw - 40px);
      background: var(--tip-n-color);
    }
    .tooltip-arrow {
      border-color: var(--tip-n-color);
    }
  }
  ul {
    margin: 10px 0;
    padding: 0 0 0 20px;
  }
}

@media only screen and (max-width: 420px) and (max-aspect-ratio: 13/9) {
  .tooltip.box-tip .tooltip-inner {
    width: calc(100vw - 40px);
    min-width: auto;;
  }
}