.tooltip {
  $bg: rgba(#ffd1d0, .9);
  $font: #ff695e;
  font-size: 14px;
  display: block !important;
  z-index: 10000;
  .tooltip-inner {
    background: $bg;
    color: $font;
    border-radius: 5px;
    padding: 5px 10px;
    box-sizing: border-box;
  }
  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: $bg;
    z-index: 1;
  }
  &[x-placement^="top"] {
    margin-bottom: 5px;
    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^="bottom"] {
    margin-top: 5px;
    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^="right"] {
    margin-left: 5px;
    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
  &[x-placement^="left"] {
    margin-right: 5px;
    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }
  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
  // &.popover,
  &.info {
    $color: rgba(#a6a6a6, .9);
    outline: none;
    .tooltip-inner {
      background: $color;
      color: white;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, .1);
      max-width: calc(100vw - 40px);
    }
    .tooltip-arrow {
      border-color: $color;
    }
  }
  &.box-tip {
    &.win {
      $color:rgba(239, 16, 16, .7);
      .tooltip-inner {
        background: $color;
      }
      .tooltip-arrow {
        border-color: $color;
      }
    }
    &.tie {
      $color: rgba(239, 175, 52, .9);
      .tooltip-inner {
        background: $color;
      }
      .tooltip-arrow {
        border-color: $color;
      }
    }
    &.lose {
      $color: rgba(77, 157, 229, .9);
      .tooltip-inner {
        background: $color;
      }
      .tooltip-arrow {
        border-color: $color;
      }
    }
    outline: none;
    text-align: center;
    $color: rgba(158, 158,158, 0.9);
    .tooltip-inner {
      color: white;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, .1);
      max-width: calc(100vw - 40px);
      background: $color;
    }
    .tooltip-arrow {
      border-color: $color;
    }
  }
  ul {
    margin: 10px 0;
    padding: 0 0 0 20px;
  }
}